{% extends "base.html"%}
{% block body_block %}
{% load staticfiles %}
<link rel="stylesheet" href="/Users/theodorebarango/social_media/social_media_project/static/simplesocial/css/master.css">

<div class="container" style="text-align:center;">
  <h1>Star Social</h1>
  <br>
  <h3><em>Your's to discover</em></h3>
  <br>

  <h4><a href="{% url 'accounts:signup' %}">Signup</a> and Explore different <a href='{% url "groups:all" %}'>groups</a> and relate with your peers</h4>
  <br>
  <h4>Can't find any group that interest you? <a href="{% url 'groups:create' %}">Create</a> your's!</h4>

</div>
{% endblock %}
